//components
@import '../styles/common/*.scss';
@import '../styles/store/*.scss';
@import '../styles/restaurant/*.scss';

//setups
@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('./fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('./fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}
