.btn {
  box-sizing: border-box;
  font-family: 'roboto';
}

.login-btn {
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  background: transparent;
  padding: 14px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #1D1D1D;
}
