.header-user-menu {
  margin-left: auto;
  align-items: center;
  display: flex;

  &__item {
    margin-right: 27px;
  
    &:last-child {
      margin-right: 0;
    }
  
    @media screen and (max-width: 767px) {
      margin-right: 0px
    }
  }

  &__basket {
    cursor: pointer;
    outline: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    padding: 0;
  
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__icon {
    vertical-align: top;
  }
}